.App {
  text-align: center;
}


main {
  text-align: center;
  background-image: url("./nuit.jpeg");
  background-size: cover;
  min-height: 100vh;
}

.container_content {

  border: 2px solid black;
  width: 20vw;
  margin: auto;
  margin-top: 2px;
  box-shadow: 5px 5px 10px black;
}
h2 {
  color: white;
}

h4 {
  color: red;
  font-weight: 900;
  margin: 10px;
  text-align: left;
}

p {
  color: black;
  font-weight: 900;
  text-align: left;
  margin: 10px;
}

button {
  margin-top: 25px;
  font-size: 1.1rem;
  background-color: red;
  transition: width 2s, height 2s, transform 2s;
}

button:hover {
  transform: rotate(180deg);
}

